* {
	margin: 0;
	padding: 0;
}

:root {
	--title-italic: 'Bauer Bodoni Pro_1 W01 Roman' , serif;
	--title-font: Georgia, 'Times New Roman', Times, serif;
	--button-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	--description-font: Cambria, Cochin, Georgia, Times, 'Times New Roman';
    --stargo-font: 'Ubuntu', sans-serif;
    --starGo-blue: rgb(144, 153, 243);
    --starGo-yellow: rgb(236, 223, 152);
}

html {
	scroll-behavior: smooth;
}

body {
	padding: 5%, 5%;
}

/* Main menu */

#main-menu {
	background-color: rgb(0, 0, 0, 80%);
	position: fixed;
	width: 100%;
	z-index: 99;
    text-align: center;
	/* display: flex; */
}

#main-menu ul {
	list-style-type: None;
	flex-grow: 4;
}

#main-menu a {
	display: block;
	text-decoration: None;
	padding: 5px 0;
	transition: 0.5s;
	font-family: var(--button-font);
	font-size: 14px;
	letter-spacing: 1px;
	color: rgb(218, 218, 218);
}

#main-menu a:hover{
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}

#main-menu .current a {
	padding: 10px 0;
	background-color: rgb(255, 255, 255);
	color: black;
}

/* Header */

header {
	background-color: rgb(0, 0, 0);
}

#page-header {
    background-image: url(../images/headerstars);
	background-size: cover;
	background-position: center center;
	text-align: center;
}

#page-header #logo img {
	max-height: 150px;
	width: auto;
}

.banner-title {
    background-image: linear-gradient(rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255)
    );
	height: 400px;
	padding: 5%;
	display: block;
	align-items: center;
    padding-top: 200px;
    color: white;
}

.banner-title .logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title h1 {
	padding: 5% 0;
    font-size: 50px;
	letter-spacing: 3px;
	font-family: var(--stargo-font);
}

#page-header .banner-title p {
	padding: 5% 10%;
	font-family: var(--stargo-font);
    font-size: 20px;
	letter-spacing: 1px;
	line-height: 30px;
}

/* popular-photos */

#popular-photos {
	margin: 5% 5%;
}

#popular-photos .title {
    padding: 5% 2% 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


#popular-photos h2 , #park-gallery h2{
	font-family: var(--stargo-font);
	letter-spacing: 1px;
    padding-right: 20px;
}

#popular-photos h2:first-child::first-letter , #park-gallery h2:first-child::first-letter{
    color: var(--starGo-blue);
}

#popular-photos h2:nth-child(2)::first-letter, #park-gallery h2:nth-child(2)::first-letter{
    color: var(--starGo-yellow);
}

#popular-photos .title p {
	font-family: var(--stargo-font);
    font-size: 18px;
    letter-spacing: 1px;
    position: absolute;
    right:5%;

}

/* #popular-photos span:first-of-type:first-letter {
    color: var(--starGo-blue);
} */

#popular-photos div .full-posts {
    display: block;
    position: relative;
    width: 300px;
}

#popular-photos .posts {
	position: relative;
	margin: 30px 0;
	height: 300px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}

#popular-photos .posts img {
	flex-shrink: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: brightness(70%);
	transition: 1.5s ease;
}

#popular-photos .posts:hover img {
	transform: scale(1.2);
	filter: brightness(100%);
}

#popular-photos .posts .wraper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	top: 70%;
	left: 10%;
}

#popular-photos .posts .description {
	color: white;
	letter-spacing: 1px;
	font-size: 30px;
	font-family: var(--stargo-font);
	padding: 10px 0;
}

#popular-photos .posts p {
    color:rgb(0, 0, 0);
    /* display: block; */
    position: relative;
    font-size: 40px;
}

#popular-photos .btn {
	width: 120px;
	color: var(--starGo-blue);
	font-size: 14px;
	cursor: pointer;
	font-family: var(--button-font);
	/* transition: 0.5s; */
	letter-spacing: 1px;
	text-decoration: none;
    position: absolute;
    right: 5%;
}

/* find park page */

/* popular-parks */

#popular-parks {
	margin: 5% 5%;
}

#popular-parks .title {
    padding: 5% 2% 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#popular-parks h2 {
	font-family: var(--stargo-font);
	letter-spacing: 1px;
    padding-right: 20px;
}

#popular-parks h2:first-child::first-letter {
    color: var(--starGo-blue);
}

#popular-parks h2:nth-child(2)::first-letter {
    color: var(--starGo-yellow);
}

#popular-parks p {
	font-family: var(--stargo-font);
    font-size: 18px;
    letter-spacing: 1px;
    position: absolute;
    right:5%;
}

#popular-parks .posts {
	position: relative;
	margin: 30px 0;
	height: 300px;
	/* display: flex; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}

#popular-parks .posts img {
	flex-shrink: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: brightness(70%);
	transition: 1.5s ease;
}

#popular-parks .posts:hover img {
	transform: scale(1.2);
	filter: brightness(100%);
}

#popular-parks .posts .wraper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	top: 70%;
	left: 10%;
}

#popular-parks .posts .description {
	color: white;
	letter-spacing: 1px;
	font-size: 30px;
	font-family: var(--stargo-font);
	padding: 10px 0;
}

#popular-parks .btn {
	width: 120px;
	color: var(--starGo-blue);
	font-size: 14px;
	cursor: pointer;
	font-family: var(--button-font);
	/* transition: 0.5s; */
	letter-spacing: 1px;
	text-decoration: none;
    position: absolute;
    right: 5%;
}

/* Upload Photo */

#upload-photos {
	margin: 5% 5%;
}

#upload-photos .title {
    padding: 5% 2% 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#upload-photos h2 {
	font-family: var(--stargo-font);
	letter-spacing: 1px;
    padding-right: 20px;
}

#upload-photos h2:first-child::first-letter {
    color: var(--starGo-blue);
}

#upload-photos h2:nth-child(2)::first-letter {
    color: var(--starGo-yellow);
}

#upload-photos p {
	font-family: var(--button-font);
    font-size: 18px;
    letter-spacing: 1px;
    position: absolute;
    right:5%;
}

/* Page-Mission */

#limited-mission {
    display: block;
    text-align: center;
    padding: 5% 0;
}

#limited-mission h2 {
    padding: 10px;
}

#limited-mission .mission-description {
    border-radius: 10px;
    border: solid rgb(179, 179, 179);
    font-size: 20px;
    padding: 5%;
    margin: 0 5%;
    margin-bottom: 3%;
    text-align: left;
}

#limited-mission .btn {
    width: 120px;
	color: rgb(0, 0, 0);
	font-size: 18px;
    padding: 5px 20px;
    margin: 5px;
	cursor: pointer;
	font-family: var(--button-font);
	text-decoration: none;
    border: solid rgb(179, 179, 179);
    border-radius: 30px;
    /* position: relative;
    left: 35%; */
}

#common-mission {
    text-align: center;
    padding: 5%;
}

#common-mission .mission-photos {
    overflow: hidden;
    width: 250px;
    height: 250px;
    position: relative;
    border-radius: 30px;
    /* justify-content: center; */
    margin: 2%;
}

#common-mission .mission-photos img {
    /* width: 300px; */
    object-fit: cover;
    flex-shrink: 0;
    height: 100%;
	/* width: 100%; */
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

#common-mission .common-description {
    padding: 20px;
}

#common-mission .common-description h2 {
    padding: 10px;
}

#common-mission .common-description .mission-description {
    border: solid rgb(179, 179, 179);
    border-radius: 30px;
    padding: 40px 20px;
    font-size: 18px;
    margin-bottom: 20px;
}

#common-mission .common-description .btn {
    width: 120px;
	color: rgb(0, 0, 0);
	font-size: 18px;
    padding: 5px 20px;
    margin: 5px;
	cursor: pointer;
	font-family: var(--button-font);
	text-decoration: none;
    border: solid rgb(179, 179, 179);
    border-radius: 30px;
}

#customize-mission {
    text-align: center;
    padding: 5%;
}

#customize-mission h2 {
    margin-bottom: 20px;
}

#customize-mission .btn {
    /* width: 120px; */
	color: rgb(0, 0, 0);
	font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
	cursor: pointer;
	font-family: var(--button-font);
	text-decoration: none;
    border: solid rgb(179, 179, 179);
    border-radius: 30px;
}

/* Footer */

#page-footer {
	background-image: url(../images/footer.jpg);
    background-size: cover;
	background-position: center center;
	text-align: center;
    color: #ffffff;
}

#secondary-menu {
	display: block;
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-family: var(--button-font);
	font-size: 10px;
}

/* Tablet Size Overrides */
@media only screen and (min-width: 700px) {

	body {
		background: rgb(255, 255, 255);
	}

	/* Menu */
	
	#main-menu {
		display: flex;
		justify-content: space-between;
	}

	#main-menu ul{
		display: flex;
		justify-content: flex-end;
		flex-direction: row;
		list-style-type: None;
		align-items: center;
		padding-right: 20px;
	}

	#main-menu a {
		padding: 0 10px;
	}

	#main-menu .current a {
		padding: 10px;
	}

	#main-menu a:hover{
		padding: 10px 20px;
	}

    /* Page header */

    .banner-title h1 {
        font-size: 80px;
    }

    #page-header .banner-title p {
        font-size: 30px;
    }

	/* popular-photos */	

    #popular-photos div {
        display: flex;
        justify-content: space-between;
    }

	#popular-photos .posts {
		width: 24%;
		height: 200px;
	}

	#popular-photos .posts .description {
		font-size: 20px;
	}

    /* popular-parks */

    #popular-parks div {
        display: flex;
        justify-content: space-between;
    }

	#popular-parks .posts {
		width: 24%;
		height: 200px;
	}

	#popular-parks .posts .description {
		font-size: 20px;
	}

    /*  mission page */

    #limited-mission .btn {
        position: relative;
        left: 25%;
    }

    #common-mission {
        display: flex;
        /* justify-content: space-between; */
    }

    #common-mission .mission-photos {
        width: 24%;
        height: 200px;
    }

    #common-mission .common-description {
        width: 50%;
        text-align: left;
        /* padding: 20px 0; */
    }

    #common-mission .common-description .btn {
        position: relative;
        left: 25%;
    }

    #customize-mission {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


	/* Footer */
	
	#page-footer {
        padding: 5%;
		display: flex;
		justify-content: space-between;
		/* align-items: center; */
	}

    #page-footer #made-by {
        display: flex;
        align-items: flex-start;
        text-align: left;
    }

    #page-footer #contact-us {
        display: flex;
        align-items: flex-start;
        text-align: left;
    }

    #page-footer h3 {
        font-family: var(--button-font);
        padding-left: 20px;
    }

    #page-footer p {
        font-family: var(--button-font);
        padding: 5px;
        padding-left: 20px;
    }

	#page-footer ul {
		display: flex;
		list-style-type: none
	}

	#page-footer a {
		padding: 5px 1px;
		margin: 0 10px;
	}

	#page-footer a:hover {
		border-bottom: solid #ffffff 1px;
	}

	/* find park */
	.page-find #page-header .banner-title > div{
		display: block;
		padding-left: 10%;
	}
	
	.page-find #page-header h1{
		text-align: left;
		padding-top: 0%;
	}

	.page-find #page-header .banner-title p {
		font: var(--title-italic);
		text-align: left;
	}
	
	.page-find #page-header input{
		width: 80%;
		font-size: 1.5em;
		background-image: url(../images/search.png);
		background-repeat: no-repeat;
		background-size: 4%;
		background-position: 1%;
		background-color: rgba(122, 122, 122, 0.479);
		color: rgb(230, 230, 230);
		border: none;
		padding: 1%;
		padding-left: 5%;
	}

	.page-find #page-header input::placeholder{
		color: #dedede;
	}

	.page-find main{
		border-left: black 3px solid;
		margin: 0% 5%;
	}

	.page-find #popular-photos, .page-find #park-gallery{
		margin-top: 4%;
		margin-bottom: 8%;
	}

	.page-find #popular-photos .title, .page-find #park-gallery .title{
		padding-top: 0%;
	}

	/* .page-find .dot{
		position: relative;
		left: -6.3%;
		top: -4%;
	} */
	
	/* .page-find #popular-photos h2, #park-gallery h2{
		padding: 0% 0% 1% 0%;
	}
	
	.page-find #popular-photos p, #park-gallery p{
		padding: 0% 0% 3% 0%;
	}
	
	.page-find #popular-photos h2:first-of-type:first-letter, #park-gallery h2:first-of-type:first-letter {
		float: top;
		color: rgb(94, 94, 255);
	} */
	
	.page-find #star-icons{
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		text-align: center;
        padding-top: 5%;
	}
	.page-find #star-icons div{
		display: flex;
		flex-direction: column;
		width: 5%;
		/* border: black 2px solid; */
	}

	.page-find #park-gallery{
		margin-left: 5%;
		margin-right: 5%;
	}

	.page-find #park-gallery .posts{
		height: auto;
		/* border: white solid; */
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)	}

	.page-find #park-gallery h2{
		font-family: var(--stargo-font);
		letter-spacing: 1px;
	}
	
	.page-find #park-gallery > div {
		flex-direction: column;
		display:-webkit-inline-box;
		padding: 2% 0%;
		overflow: scroll;
        /* justify-content: space-between; */
    }
	
	.page-find #park-gallery .posts {
		display: flex;
		flex-direction: column;
		width: 25%;
		border-radius: 10px;
		margin-right: 30px;
		margin-left: 1%;
	}
	
	.page-find #park-gallery .posts .park-img{
		width: 80%; 
		border-radius: 10px;
		margin: 6% 10%; 
		height: 150px;
	}	

	.page-find #park-gallery .posts > div:nth-child(2){
		display: flex;
		justify-content: space-between;
		margin: 0% 10%;
	}

	.page-find #park-gallery .posts div:nth-child(3){
		margin: 5% 10%;
	}

	.page-find #park-gallery .posts div:nth-child(3) h4{
		margin-bottom: 2%;
	}

	.checked {
		color: blue;
	  }
	.uncheck{
		opacity: 0.5;
	}
	.page-find #park-gallery .posts div > div {
		display: flex;
		justify-content: space-between;
		margin-top: 5%;
		align-items: center;
	}
	.page-find #park-gallery .posts div > div h4 {
		color: orange;
		font-size: 1.5em;
	}
	.page-find #park-gallery .posts .post-icon{
		width: 10%;
		margin: 0%;
		border-radius: 0%;
	}
	.page-find #park-gallery .posts .get-here{
		display: block;
		text-align: center;
		margin-top: 10%;
		padding: 10% 0%;
		background-color: rgb(127, 178, 255);
		width: 100%;
		border-top: black dotted;
		/* border-radius: 10px; */
	}

    /* upload photos */
    
    #upload-photos .upload-function {
        display: flex;
        padding: 5% 0;
    }

    #upload-photos .upload-function .description {
        width: 80%;
    }

    #upload-photos .upload-function .description form {
        width: 100%;
        padding-left: 5%;
    }

    #upload-photos .upload-function textarea {
        /* box-sizing: border-box; */
        width: 100%;
        height: 200px;
        border: rgb(195, 195, 195) solid;
        padding: 5px;
    }
    
    #upload-photos .upload-function #user-info {
        display: flex;
    }

    #upload-photos .upload-function #user-info .profile {
        text-align: center;
    }

    #upload-photos .upload-function #user-info .profile img {
        border-radius: 100%;
        object-fit: cover;
        width: 150px;
    }

    #upload-photos .upload-function #select-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #upload-photos .upload-function #select-button img {
        width: 100px;
        padding: 3%;
    }

    #upload-photos #select-button button {
        width: 300px;
        height: 60px;
        display: flex;
        align-items: center;
        background-color: var(--starGo-blue);
        border: none;
        color: #ffffff;
        /* justify-content: space-around; */
        /* margin: 5%; */
    }

    #upload-photos #select-button button .material-icons {
        color: #ffffff;
        padding: 0 10%;
        padding-right: 20%;
    }

    #bottom-decorate {
        width: 100%;
        box-sizing: border-box;
    }

    #photo-preview {
        border: solid rgb(195, 195, 195);
        margin: 0 10%;
        text-align: center;
        height: 210px;
    }

    #photo-preview img {
        width: 100px;
        /* height: 100px; */
        box-sizing: border-box;
        padding: 10%;
        position: relative;
        top: 25%
        /* left: 50%; */
    }

    #upload-photos .submit {
        width: 250px;
        height: 60px;
        /* display: flex; */
        /* align-items: center; */
        background-color: var(--starGo-blue);
        border: none;
        color: #ffffff;
        margin: 54px 30px;
    }




/* Desktop Size Overrides */
@media only screen and (min-width: 1200px) {

	body {
		background: rgb(255, 255, 255);
	}

	#main-menu a {
		font-size: 1em;
		letter-spacing: 1px;
		padding: 10px 40px;
	}

	#main-menu .current a {
		padding: 10px 40px;
	}

	#main-menu a:hover{
		padding: 10px 60px;
	}

	#page-header p {
		font-size: 1.1em;
		padding: 5% 20%;
	}

}
}