* {
	margin: 0;
	padding: 0;
}

:root {
	--title-italic: 'Bauer Bodoni Pro_1 W01 Roman' , serif;
	--title-font: Georgia, 'Times New Roman', Times, serif;
	--button-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	--description-font: Cambria, Cochin, Georgia, Times, 'Times New Roman';
    --stargo-font: 'Ubuntu', sans-serif;
    --starGo-blue: rgb(144, 153, 243);
    --starGo-yellow: rgb(236, 223, 152);
}

html {
	scroll-behavior: smooth;
}

body {
	padding: 5%, 5%;
}

/* Main menu */

#main-menu {
	/* background-color: rgb(0, 0, 0, 80%); */
	position: absolute;
	width: 100%;
	z-index: 99;
    text-align: center;
    float: top;
	/* display: flex; */
}

#main-menu ul {
	list-style-type: None;
	flex-grow: 4;
}

#main-menu a {
	display: block;
	text-decoration: None;
	padding: 10px 0;
	font-family: var(--button-font);
	font-size: 14px;
	letter-spacing: 1px;
	color: rgb(218, 218, 218);
}

#main-menu a:hover{
    border-bottom: #ffffff solid;
}

#main-menu .current a {
	/* padding: 10px 0; */
	/* background-color: rgb(255, 255, 255); */
	/* color: black; */
    border-bottom: #ffffff solid;
}

/* Header */

header {
	background-color: rgb(0, 0, 0);
}

#page-header {
    background-image: url(../images/headerstars);
	background-size: cover;
	background-position: center center;
	text-align: center;
}

#page-header #logo img {
	max-height: 150px;
	width: auto;
}

.banner-title {
    background-image: linear-gradient(rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255)
    );
	height: 400px;
	padding: 5%;
	display: block;
	align-items: center;
    padding-top: 200px;
    color: white;
}

.banner-title .logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title h1 {
	padding: 5% 0;
    font-size: 50px;
	letter-spacing: 3px;
	font-family: var(--stargo-font);
}

#page-header .banner-title p {
	padding: 5% 10%;
	font-family: var(--stargo-font);
    font-size: 16px;
	letter-spacing: 1px;
	line-height: 30px;
}

/* popular-photos */

#popular-photos {
	margin: 5% 5%;
}

#popular-photos .title {
    padding: 0 2% 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


#popular-photos h2 , #park-gallery h2{
	font-family: var(--stargo-font);
	letter-spacing: 1px;
    padding-right: 20px;
    font-size: 36px;
}

#popular-photos h2:first-child::first-letter , #park-gallery h2:first-child::first-letter{
    color: var(--starGo-blue);
}
.page-gallery #park-gallery h2:first-child::first-letter{
    color: black;
}
.page-gallery #park-gallery h2:nth-child(2)::first-letter{
    color: var(--starGo-blue);
}

#popular-photos h2:nth-child(2)::first-letter, #park-gallery h2:nth-child(2)::first-letter{
    color: var(--starGo-yellow);
}
.page-gallery #park-gallery h2:nth-child(3)::first-letter{
    color: var(--starGo-yellow);
}

#popular-photos .title p, .page-gallery #park-gallery .title p{
	font-family: var(--stargo-font);
    font-size: 18px;
    letter-spacing: 1px;
    position: absolute;
    right:5%;

}

/* #popular-photos span:first-of-type:first-letter {
    color: var(--starGo-blue);
} */

#popular-photos div .full-posts {
    display: block;
    position: relative;
    width: 300px;
}

#popular-photos .posts {
	position: relative;
	margin: 30px 0;
	height: 300px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}

#popular-photos .posts img {
	flex-shrink: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: brightness(70%);
	transition: 1.5s ease;
}

#popular-photos .posts:hover img {
	transform: scale(1.2);
	filter: brightness(100%);
}

#popular-photos .posts .wraper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	top: 70%;
	left: 10%;
}

#popular-photos .posts .description {
	color: white;
	letter-spacing: 1px;
	font-size: 30px;
	font-family: var(--stargo-font);
	padding: 10px 0;
}

#popular-photos .posts p {
    color:rgb(0, 0, 0);
    /* display: block; */
    position: relative;
    font-size: 40px;
}

#popular-photos .btn {
	width: 120px;
	color: var(--starGo-blue);
	font-size: 14px;
	cursor: pointer;
	font-family: var(--button-font);
	/* transition: 0.5s; */
	letter-spacing: 1px;
	text-decoration: none;
    position: absolute;
    right: 5%;
}

/* find park page */

/* popular-parks */

#popular-parks {
	margin: 5% 5%;
}

#popular-parks .title {
    padding: 5% 2% 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#popular-parks h2 {
	font-family: var(--stargo-font);
	letter-spacing: 1px;
    padding-right: 20px;
    font-size: 36px;
}

#popular-parks h2:first-child::first-letter {
    color: var(--starGo-blue);
}

#popular-parks h2:nth-child(2)::first-letter {
    color: var(--starGo-yellow);
}

#popular-parks p {
	font-family: var(--stargo-font);
    font-size: 18px;
    letter-spacing: 1px;
    position: absolute;
    right:5%;
}

#popular-parks .posts {
	position: relative;
	margin: 30px 0;
	height: 300px;
	/* display: flex; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}

#popular-parks .posts img {
	flex-shrink: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: brightness(70%);
	transition: 1.5s ease;
}

#popular-parks .posts:hover img {
	transform: scale(1.2);
	filter: brightness(100%);
}

#popular-parks .posts .wraper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	top: 70%;
	left: 10%;
}

#popular-parks .posts .description {
	color: white;
	letter-spacing: 1px;
	font-size: 30px;
	font-family: var(--stargo-font);
	padding: 10px 0;
}

#popular-parks .btn {
	width: 120px;
	color: var(--starGo-blue);
	font-size: 14px;
	cursor: pointer;
	font-family: var(--button-font);
	/* transition: 0.5s; */
	letter-spacing: 1px;
	text-decoration: none;
    position: absolute;
    right: 5%;
}

/* Search bar */

#search-star {
	margin: 5% 5%;
}

#search-star .title {
    padding: 5% 2% 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#search-star h2 {
	font-family: var(--stargo-font);
	letter-spacing: 1px;
    padding-right: 20px;
    font-size: 36px;
}

#search-star h2:first-child::first-letter {
    color: var(--starGo-blue);
}

#search-star h2:nth-child(2)::first-letter {
    color: var(--starGo-yellow);
}

#search-star p {
	font-family: var(--stargo-font);
    font-size: 18px;
    letter-spacing: 1px;
    position: absolute;
    right:5%;
}

#search-bar {
    display: flex;
    padding: 5% 0;
    justify-content: space-between;
    font-family: var(--button-font);
    letter-spacing: 1px;
}

#search-bar select {
    border: none;
    border-bottom: black solid;
    padding: 5px 5px;
}

#search-bar input {
    border: none;
    border-bottom: black solid;
    padding: 5px 5px;
}

#search-bar button {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    background-color: var(--starGo-blue);
    color: white;
    padding: 5px 5px;
}

#search-result {
    height: 260px;
    /* border: black solid; */
    display: flex;
    align-items: center;
	width: 100%;
}

/* #search-result .result:first-child {
	width: 20%;
}

#search-result .result:nth-child(2) {
	width: 80%;
} */

#search-result .result {
    height: 100%;
    width: 20%;
    overflow: hidden;
}

#search-result .result:nth-child(2) {
    width: 85%;
    display: flex;
    align-items: center;
	overflow: scroll;
}

#search-result .result img {
    object-fit: contain;
    /* width: 100%; */
    /* height: 100%; */
}

.result #starchart {
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
}

/* Upload Photo */

#upload-photos {
	margin: 5% 5%;
}

#upload-photos .title {
    padding: 5% 2% 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#upload-photos h2 {
	font-family: var(--stargo-font);
	letter-spacing: 1px;
    padding-right: 20px;
    font-size: 36px;
}

#upload-photos h2:first-child::first-letter {
    color: var(--starGo-blue);
}

#upload-photos h2:nth-child(2)::first-letter {
    color: var(--starGo-yellow);
}

#upload-photos p {
	font-family: var(--stargo-font);
    font-size: 18px;
    letter-spacing: 1px;
    position: absolute;
    right:5%;
}

/* Page-Mission */

.page-mission #popular-photos {
    margin: 4% 5%;
    /* padding: 0; */
}

.page-mission #popular-photos h3 {
    padding: 20px 0;
    font-family: var(--stargo-font);
    /* text-align: center; */
}

.page-mission #popular-photos p {
    font-family: var(--stargo-font);
    /* text-align: center; */
}

#limited-mission {
    display: block;
    text-align: center;
    /* padding: 5% 0; */
    font-family: var(--button-font);
}

#limited-mission h2 {
    padding: 40px 0;
    text-align: center;
    font-family: var(--stargo-font);
}

#requirement-title::first-letter {
    color: var(--starGo-blue);
}

#reward-title::first-letter {
    color: var(--starGo-yellow);
}

#limited-mission .mission-description {
    border-radius: 30px;
    border: solid rgb(0, 0, 0) 0.5px;
    box-shadow: grey 1px 1px 5px;
    font-size: 20px;
    padding: 0 5% 5%;
    margin: 0 5%;
    margin-bottom: 3%;
    text-align: center;
    overflow: hidden;
}
/* 
#limited-mission .mission-description div:first-child {
    height: 50px;
    background-color: black;
    float: top;
} */

#requirements {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100px;
}

#requirements > div {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    /* flex-direction: column; */
}

#requirements .button {
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#requirements .button .btn {
    width: 200px;
    height: 40px;
    /* display: flex; */
    /* align-items: center; */
    background-color: var(--starGo-blue);
    border: none;
    color: #ffffff;
    /* margin: 48px 30px; */
    cursor: pointer;
    /* position: absolute; */
}

#requirements b {
    width: 20%;
}

#requirements p {
    width: 80%;
}

#requirements b+p {
    /* width: 100%; */
    display: inline;
    /* margin-bottom: 10px; */
}

#common-mission {
    text-align: center;
    padding: 5%;
}

#common-mission .title {
    display: flex;
}

#common-mission .title h2 {
	font-family: var(--stargo-font);
	letter-spacing: 1px;
    padding-right: 20px;
    font-size: 36px;
    padding-bottom: 3%;
}

#common-mission h2:first-child::first-letter {
    color: var(--starGo-blue);
}

#common-mission h2:nth-child(2)::first-letter {
    color: var(--starGo-yellow);
}

#common-mission p {
    font-size: 16px;
    font-family: var(--stargo-font);
    text-align: left;
}

#mission-board {
    display: flex;
    padding: 3% 0;
    justify-content: space-between;
}

#mission-board .posts {
    width: 30%;
    border-radius: 30px;
    border: solid rgb(0, 0, 0) 0.5px;
    box-shadow: grey 1px 1px 5px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#common-mission .posts h1 {
    font-family: var(--button-font);
    font-size: 40px;
    padding: 3%;
}

#common-mission .posts p {
    text-align: center;
    padding-bottom: 15%;
}

#common-mission .mission-photos {
    overflow: hidden;
    width: 70%;
    height: 250px;
    border-radius: 30px;
    margin-bottom: 30px;
}

#common-mission .mission-photos img {
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
    height: 100%;
}

#mission-board .button {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

#mission-board .button .btn {
    width: 100px;
    height: 30px;
    background-color: var(--starGo-blue);
    border: none;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    top: 15px
}

#customize-mission {
    text-align: center;
    padding: 5%;
}

#customize-mission h2 {
    font-family: var(--stargo-font);
    margin-bottom: 50px;
    font-size: 30px;
}

#customize-mission .btn {
	color: rgb(255, 255, 255);
	font-size: 26px;
    padding: 10px 20px;
    margin: 10px;
	cursor: pointer;
	font-family: var(--stargo-font);
	text-decoration: none;
    background-color: var(--starGo-blue);
}

/* thisura */
	
#new-post{
    display: block;
    text-align: center;
    padding: 5%;
    border: 0px;
    border-width: 80%;
    border-top: 1px;
    border-style: solid;
    border-color: rgb(145, 145, 145);
    
}
    
#new-post .title{ 
    padding: 20px;
    padding-top: 0px;
}

#new-post input{
    padding: 20px;
    
    width: 80%;
}
#new-post h2{
    padding: 20px;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
}

#new-post .new-post-write {
    height: 50px;
}

#new-post .button{
    padding-top: 40px;
}

#new-post .btn{

 width: 120px;
color: rgb(0, 0, 0);
font-size: 18px;
padding: 5px 20px;
margin: 5px;
cursor: pointer;
font-family: var(--button-font);
text-decoration: none;
border: solid rgb(179, 179, 179);
border-radius: 30px;
position: relative;

}

.popup {
    position: relative;
    display: flex;
    cursor: pointer;
    
}
  
/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 800px;
    height: 230px;
    background-color: rgb(255, 255, 255);		
    color: rgb(86, 82, 82);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    box-shadow: 10px 10px rgb(223, 223, 223);
    border: 2px;
    border-style: solid;
    border-color: #dedede;
}

/* community page */
.page-community section{
    border-top: black 1px solid;
}
.page-community #user-comments{
    display: flex;
    justify-content: space-between;
    margin: 3% 5%;
}
.page-community #user-comments img{
    width: 40%;
    /* height: 60%; */
    height: 230px;
    margin: 5%;
    border-radius: 30px;
}
.page-community #user-comments .icons{
    width: 5%;
    height: 5%;
    margin: 5% 5% 0% 0% ;
}
.page-community #user-comments .view-comments{
    flex-direction: column;
    width: 40%;
    margin: 5% 0% 0% 0% ;
}
.page-community #user-comments .view-comments p:first-child{
    border: rgb(193, 193, 193) 1px solid;
    border-radius: 15px;
    width: 20%;
    text-align: center;
    margin: 3% 0% 5% 0%;
}
.page-community #user-comments .view-comments p:nth-child(2){
    border: rgb(193, 193, 193) 1px solid;
    border-radius: 30px;
    width: 80%;
    height: 30%;
    text-align: left;
    padding: 3% 0% 0% 5%;
}
.page-community #user-comments div:nth-child(3){
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.page-community #user-comments #comment-icons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 60%;
    padding: 0%;
    width: 20%;
}
.page-community #user-comments #comment-icons img{
    border-radius: 0px;
    margin: 0% 10%;
    height: auto;
}


  
  
/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.popup .popuptext input{
    padding: 10px;	
    width: 80%;
}
.popup .popuptext h2{
    padding: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.popup .popuptext .btn{

    width: 120px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    font-family: var(--button-font);
    text-decoration: none;
    /* border: solid rgb(179, 179, 179); */
    border-radius: 30px;
    position: relative;
    background-color: rgb(115, 132, 255);

}

.popup .popuptext .button{
    padding: 20px;
    padding-top: 40px;
}

#user-comment{
    position: relative;
    width: 50%;
    padding: 5%;
    /* display: flex; */
}

#user-comment h2{

    font-family: Arial, Helvetica, sans-serif;
}

#user-comment p {

    color: rgb(0, 0, 0);
    /* margin: 30px; */
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-radius: 10px;
    width: 50%;
    padding: 20px;
    border-width: 1px;
    border-color: rgb(129, 129, 129);
    font-family: Arial, Helvetica, sans-serif
}

#user-comment .mission-photos{
    position: relative;
    right: 0;
}

#user-comment .mission-photos img {
    /* width: 300px; */
    object-fit: cover;

    border-radius: 10px;

    /* position: absolute; */
    right: 0;
    width: 250px;
    height: 250px;
    margin: auto;
}

#user-comment .btn {

    width: 120px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 5px 20px;
    margin: 5px;
    cursor: pointer;
    font-family: var(--button-font);
    text-decoration: none;
    border: solid rgb(179, 179, 179);
    border-radius: 30px;
    position: relative;
}

/* Footer */

#page-footer {
	background-image: url(../images/footer.jpg);
    background-size: cover;
	background-position: center center;
	text-align: center;
    color: #ffffff;
    font-family: var(--button-font);
    letter-spacing: 1px;
}

#secondary-menu {
	display: block;
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-family: var(--button-font);
	font-size: 10px;
}

/* Tablet Size Overrides */
@media only screen and (min-width: 700px) {

	body {
		background: rgb(255, 255, 255);
	}

	/* Menu */
	
	#main-menu {
		display: flex;
		justify-content: space-between;
	}

	#main-menu ul{
		display: flex;
		justify-content: flex-end;
		flex-direction: row;
		list-style-type: None;
		align-items: center;
		padding-right: 20px;
	}

	#main-menu a {
		margin: 0 10px;
	}

    /* Page header */

    .banner-title h1 {
        font-size: 80px;
    }

    #page-header .banner-title p {
        font-size: 20px;
    }

	/* popular-photos */	

    #popular-photos div {
        display: flex;
        justify-content: space-between;
    }

	#popular-photos .posts {
		width: 24%;
		height: 200px;
	}

	#popular-photos .posts .description {
		font-size: 20px;
	}

    /* popular-parks */

    #popular-parks div {
        display: flex;
        justify-content: space-between;
    }

	#popular-parks .posts {
		width: 24%;
		height: 200px;
	}

	#popular-parks .posts .description {
		font-size: 20px;
	}

	/* Footer */
	
	#page-footer {
        padding: 38px;
		display: flex;
		justify-content: space-between;
		/* align-items: center; */
	}

    #page-footer #made-by {
        display: flex;
        align-items: flex-start;
        text-align: left;
    }

    #page-footer #contact-us {
        display: flex;
        align-items: flex-start;
        text-align: left;
    }

    #page-footer h3 {
        font-family: var(--button-font);
        padding-left: 20px;
    }

    #page-footer p {
        font-family: var(--button-font);
        padding: 5px;
        padding-left: 20px;
    }

	#page-footer ul {
		display: flex;
		list-style-type: none
	}

	#page-footer a {
		padding: 5px 1px;
		margin: 0 10px;
	}

	#page-footer a:hover {
		border-bottom: solid #ffffff 1px;
	}

	/* find park */
	.page-find #page-header .banner-title > div{
		display: block;
		padding-left: 10%;
	}
	
	.page-find #page-header h1{
		text-align: left;
		padding-top: 0%;
	}

	.page-find #page-header .banner-title p {
		font: var(--title-italic);
		text-align: left;
	}
	
	.page-find #page-header input{
		width: 80%;
		font-size: 1.5em;
		background-image: url(../images/search.png);
		background-repeat: no-repeat;
		background-size: 4%;
		background-position: 1%;
		background-color: rgba(122, 122, 122, 0.479);
		color: rgb(230, 230, 230);
		border: none;
		padding: 2%;
		padding-left: 6%;
	}

	.page-find #page-header input::placeholder{
		color: #dedede;
	}

	.page-find main{
		border-left: black 3px solid;
		margin: 0% 5%;
	}

	.page-find #popular-photos, .page-find #park-gallery{
		margin-top: 4%;
		margin-bottom: 8%;
	}

	.page-find #popular-photos .title, .page-find #park-gallery .title{
		padding-top: 0%;
	}

	/* .page-find .dot{
		position: relative;
		left: -6.3%;
		top: -4%;
	} */
	
	/* .page-find #popular-photos h2, #park-gallery h2{
		padding: 0% 0% 1% 0%;
	}
	
	.page-find #popular-photos p, #park-gallery p{
		padding: 0% 0% 3% 0%;
	}
	
	.page-find #popular-photos h2:first-of-type:first-letter, #park-gallery h2:first-of-type:first-letter {
		float: top;
		color: rgb(94, 94, 255);
	} */
	
	.page-find #star-icons{
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		text-align: center;
        padding-top: 5%;
	}
	.page-find #star-icons div{
		display: flex;
		flex-direction: column;
		width: 5%;
		/* border: black 2px solid; */
	}

	.page-find #park-gallery{
		margin-left: 5%;
		margin-right: 5%;
	}

	.page-find #park-gallery .posts{
		height: auto;
		/* border: white solid; */
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)	}

	.page-find #park-gallery h2{
		font-family: var(--stargo-font);
		letter-spacing: 1px;
	}
	
	.page-find #park-gallery > div {
		flex-direction: column;
		display:-webkit-inline-box;
		padding: 2% 0%;
		overflow: scroll;
        width: 110%;
        /* justify-content: space-between; */
    }
	
	.page-find #park-gallery .posts {
		display: flex;
		flex-direction: column;
		width: 25%;
        height: 600px;
		border-radius: 10px;
		margin-right: 30px;
		margin-left: 1%;
        /* flex-direction: column; */
        /* justify-content: space-between; */
        position: relative;
	}

    .page-find #park-gallery .posts h3,
    .page-find #park-gallery .posts h4,
    .page-find #park-gallery .posts p {
        font-family: var(--stargo-font);
	}

	.page-find #park-gallery .posts .park-img{
		width: 80%; 
		border-radius: 10px;
		margin: 6% 10%; 
		height: 150px;
	}	

	.page-find #park-gallery .posts > div:nth-child(2){
		display: flex;
		justify-content: space-between;
		margin: 0% 10%;
	}

	.page-find #park-gallery .posts div:nth-child(3){
		margin: 5% 10%;
	}

	.page-find #park-gallery .posts div:nth-child(3) h4{
		margin-bottom: 2%;
	}

	.checked {
		color: blue;
	  }
	.uncheck{
		opacity: 0.5;
	}
	.page-find #park-gallery .posts div > div {
		display: flex;
		justify-content: space-between;
		margin-top: 5%;
		align-items: center;
	}
	.page-find #park-gallery .posts div > div h4 {
		color: orange;
		font-size: 1.5em;
	}
	.page-find #park-gallery .posts .post-icon{
		width: 10%;
		margin: 0%;
		border-radius: 0%;
	}
	.page-find #park-gallery .posts .get-here{
        position: absolute;
        bottom: 0;
		display: block;    
		text-align: center;
		margin-top: 10%;
		padding: 10% 0%;
		background-color: rgb(127, 178, 255);
		width: 100%;
		border-top: black dotted;
		/* border-radius: 10px; */
	}

    /* upload photos */
    
    #upload-photos .upload-function {
        display: flex;
        padding-top: 3%;
    }

    #upload-photos .upload-function .description {
        width: 80%;
    }

    #upload-photos .upload-function .description form {
        width: 100%;
        padding-left: 5%;
    }

    #upload-photos .upload-function textarea {
        /* box-sizing: border-box; */
        width: 100%;
        height: 200px;
        border: rgb(195, 195, 195) solid;
        padding: 5px;
    }
    
    #upload-photos .upload-function #user-info {
        display: flex;
    }

    #upload-photos .upload-function #user-info .profile {
        text-align: center;
    }

    #upload-photos .upload-function #user-info .profile img {
        border-radius: 100%;
        object-fit: cover;
        width: 150px;
    }

    #upload-photos .upload-function #select-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #upload-photos .upload-function #select-button img {
        width: 100px;
        padding: 3%;
    }

    #upload-photos #select-button button {
        width: 300px;
        height: 60px;
        display: flex;
        align-items: center;
        background-color: var(--starGo-blue);
        border: none;
        color: #ffffff;
        cursor: pointer;
        /* justify-content: space-around; */
        /* margin: 5%; */
    }

    #upload-photos #select-button button .material-icons {
        color: #ffffff;
        padding: 0 10%;
        padding-right: 20%;
    }

    #bottom-decorate {
        width: 100%;
        box-sizing: border-box;
    }

    #photo-preview {
        border: solid rgb(195, 195, 195);
        margin: 0 10%;
        text-align: center;
        height: 210px;
        cursor: pointer;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #photo-preview>input {
        display: none;
        z-index: 2;
    }

    #photo-preview div {
        width: 100%;
    }

    #photo-preview #preview-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        width: 300px;
        padding: 0;
    }

    #photo-preview img {
        width: 100px;
        /* height: 100px; */
        box-sizing: border-box;
        padding: 10%;
        position: relative;
        top: 25%;
        cursor: pointer;
        /* left: 50%; */
    }

    #upload-photos .submit {
        width: 250px;
        height: 60px;
        /* display: flex; */
        /* align-items: center; */
        background-color: var(--starGo-blue);
        border: none;
        color: #ffffff;
        margin: 48px 30px;
        cursor: pointer;
    }


	/* Gallery */
	.page-gallery #page-header div:nth-child(2){
		padding-left: 0%;
	}
	#traingle-icon{
		width: 3%;
		padding: 1%;
		rotate: 90deg;
	}
	.page-gallery #tag{
		width:20%;
		position: absolute;
		top: 15%;
		right: 0%;
	}

	/* .page-gallery #popular-photos #star-chart{
		border: black 2px solid;
		background: url(../images/435640.jpg) no-repeat center;
		background-size: cover;
		width: 100%;
		height: 300px;
		margin: 4% 0%;
	} */

	.page-gallery #popular-photos #star-chart{
		display: flex;
		margin: 4% 0%;
	}

	.page-gallery #popular-photos #star-chart div:first-child{
		width: 78%;
		position: relative;
		background: url(../images/435640.jpg) no-repeat center;
		background-size: contain;
		height: 225px;
	}

	.page-gallery #popular-photos #star-chart div:nth-child(2){
		width: 20%;
		border: black 1px solid;
	}

	.page-gallery #popular-photos #star-chart div:nth-child(2) .collect{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		text-align: center;
		align-items: center;
		background: none;
		height: auto;
	}

	.page-gallery #popular-photos #star-chart div:nth-child(2) .hidden{
		display: none;
	}

	.page-gallery #popular-photos #star-chart div:first-child img{
		border-radius: 50%;
		padding: 10%;
	}

	.page-gallery #popular-photos #star-chart div:first-child .selected{
		border: yellow 1px solid;
		background-color: rgba(208, 0, 208, 0.514);
	}

	.page-gallery #popular-photos #star-chart div:nth-child(2) img{
		width: 20%;
		margin: 5% 0% 15% 0%;
	}

	.page-gallery #popular-photos #star-chart div:nth-child(2) .collect a {
		top: 0%;
		left: 0%;
		text-decoration: none;
		color: black;
		font-size: 2em;
	}

	.page-gallery #popular-photos #star-chart a{
		width: 20%;
		position: relative;
	}

	.page-gallery #popular-photos #star-chart .stars{
		width: 30%;
	}

	.page-gallery #popular-photos #star-chart a:first-child{
		top: 10%;
		left: 18%;
	}
	.page-gallery #popular-photos #star-chart a:nth-child(2){
		top: -5%;
		left: 28%;
	}
	.page-gallery #popular-photos #star-chart a:nth-child(3){
		top: 65%;
		left: -28%;
	}
	.page-gallery #popular-photos #star-chart a:nth-child(4){
		top: 67%;
		left: -17%;
	}
	.page-gallery #popular-photos #star-chart a:nth-child(5){
		top: 67%;
		left: -12%;
	}

	.page-gallery #park-gallery .posts div:nth-child(3) b{
		display: inline;
	}
	.page-gallery #park-gallery .posts div:nth-child(3) b + p{
		display: inline;
	}
	.page-gallery #park-gallery .posts .get-here{
		padding: 6%  0%;
		background-color: unset;
		border-top: solid;
	}
	.page-gallery #park-gallery .posts .get-here img{
		width: 20%;
		margin: 0%;
	}
	

	.page-gallery #page-header .banner-title #search-list{
		background-color: #c9c9c9b4;
		width: 75%;
		padding: 1% 0% 1% 5%;
		/* padding-left: 5%; */
		margin-left: 10%;
	}

	.page-gallery #page-header .banner-title #search-list p{
		padding: 1% 0%;
		color: black;
		font-size: 1.5em;
	}

	.page-gallery #page-header .banner-title .hidden{
		display: none;
	}




	.page-gallery #page-header .banner-title .shown{
		display: block;
	}
	



/* Desktop Size Overrides */
@media only screen and (min-width: 1200px) {

	body {
		background: rgb(255, 255, 255);
	}

	#main-menu a {
		font-size: 1em;
		letter-spacing: 1px;
		margin: 10px 40px;
	}

	#page-header p {
		font-size: 1.1em;
		padding: 5% 20%;
	}

}
}